<div class="box-container flex-col">
  <div class="app-title">Simple example app for the ngx-ace-wrapper</div>

  <div class="info-container">
    This example only shows some of the available features, to see all check Ace demos / documentation.
  </div>

  <div class="horizontal-container flex content-stretch flex-col md:flex-row ">
    <div class="vertical-container flex-1 flex-col content-stretch" style="min-width: 0">
      <div class="box-title">Settings</div>

      <div class="action-container flex-col content-stretch">
        <div class="action-button flex items-center justify-center" (click)='toggleType()'>{{(type === "component") ? "Switch to directive" : "Switch to component"}}</div>

        <div class="action-button flex items-center justify-center" (click)='toggleDisabled()'><span>Toggle disabled state</span></div>

        <div class="action-button flex items-center justify-center" (click)='toggleReadonly()'>Toggle read-only mode</div>

        <div class="action-button flex items-center justify-center" (click)='toggleMode()'>{{(config.mode === "javascript") ? "Change to text mode" : "Change to javascript mode"}}</div>

        <div class="action-button flex items-center justify-center" (click)='toggleTheme()'>{{(config.theme === "github") ? "Change to clouds theme" : "Change to github theme"}}</div>

        <div class="action-button flex items-center justify-center" (click)='clearEditorContent()'>Clear the editor content</div>
      </div>
    </div>

    <div class="vertical-container flex-1 flex-col content-stretch" style="min-width: 0">
      <div class="box-title">Ace</div>

      <div class="content-container flex flex-col content-stretch">
        <ace *ngIf="type === 'component' && show" class="flex" [config]="config" [disabled]="disabled" (blur)="onEditorBlur($event)" (focus)="onEditorFocus($event)" (valueChange)="onValueChange($event)" (selectionChange)="onSelectionChange($event)" [(value)]="content">
        </ace>

        <div *ngIf="type === 'directive' && show" class="ace-editor flex flex-1" [ace]="config" [disabled]="disabled" (blur)="onEditorBlur($event)" (focus)="onEditorFocus($event)" (change)="onContentChange($event)" (selectionChange)="onSelectionChange($event)">
          Some example content
        </div>
      </div>
    </div>
  </div>
</div>
